<head>
    <!-- Add a favicon (icon shown in the browser tab) -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<!-- The div below is used to display the Cesium container when Cesium is loaded -->
<div *ngIf="isCesiumLoaded; else loading" #cesiumContainer class="cesium-container"></div>

<!-- ng-template is used to display a loading indicator while Cesium is being loaded -->
<ng-template #loading>
  <!-- This div displays a message while the Cesium library is loading -->
  <div class="loading-indicator">Loading Cesium...</div>
</ng-template>
